<div class="profileContent">
  <div class="profileImage">
    <%= profilePicture %>
  </div>
  <div class="profileUsername">
    <%= @user.username %>
  </div>
</div>

<div class="menuBar">
  <ul class="goalmenulist">
      <li>
          <%= link_to "All", :controller => "users", :action => "show", :id => current_user.username, :goalDisplayOption=>"All" %>
        </li>
        <li>
          <%= link_to "Active", :controller => "users", :action => "show", :id => current_user.username, :goalDisplayOption=>"Active" %>
        </li>
        <li>
          <%= link_to "Created", :controller => "users", :action => "show", :id => current_user.username, :goalDisplayOption=>"Created" %>
        </li>
        <li>
          <%= link_to "Create Goal", new_user_goal_path(current_user.username) %>
        </li>
      </ul>
</div>


<table class="goalsTable">
  <tr>
  <% unless @totalGoals.empty?%>
    <% totalGoals = @totalGoals.count %>
    <% firstColNum = totalGoals / 4 %>
    <% if (@totalGoals.count % 4 != 0) %>
      <% firstColNum += 1 %>
    <% end %>
          
    <% secondColNum = (totalGoals / 4) %>
    <% if (@totalGoals.count % 4 == 2) %>
      <% secondColNum += 1 %>
    <% end %>
    <% secondColNum += firstColNum %>

    <% thirdColNum = (totalGoals / 4) %>
    <% if (@totalGoals.count % 4 == 3) %>
    <% thirdColNum += 1 %>
    <% end %>
    <% thirdColNum += secondColNum %>
    <% goalCount = 0 %>
    <% @totalGoals.each do | k, v | %>
      <% if (goalCount == 0 || goalCount == firstColNum || goalCount == secondColNum || goalCount == thirdColNum) %>
        <td class="goalsCol">
        <ul class="notes">
      <% end %>

      <% goal = v[:g] %>
      <li>
        <div class="goalStickyTitle">
             <p><%= link_to goal.title, user_goal_path(current_user.username, goal.title) %></p>
        </div>
        <% if v[:w] %> 
          <% @userGoalRelationship = current_user.user_goal_relationships.find_by_goal_id(goal) %>
          <% doneMilestones = @userGoalRelationship.user_goal_milestone_relationships.count() %>
          <% totalMilestones = goal.milestones.count() %>
          <% if (totalMilestones == 0) %>
            <% @progress = 0 %>
          <% else %>
            <% @progress=(doneMilestones*100)/totalMilestones %>
          <% end %>
          <!--<div class="progressbar" rel="<%=@progress%>"><span class=progressPercent> <%=@progress%>% </span></div>-->
          <div class=progressPercent><%=@progress%>%</div>
        <% end %>
      </li>
      <% if (goalCount == (firstColNum -1) || goalCount == (secondColNum - 1) || goalCount == (thirdColNum -1) || goalCount == (totalGoals-1)) %>
        </ul>
        </td>
      <% end %>
      <% goalCount += 1 %>
    <% end %>
  <% end %>
  </tr>
</table>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
  /*
  $(document).ready(function() {
    $("div.progressbar").each (function () {
      var element = this;
      $(element).progressbar({
        value: parseInt($(element).attr("rel"))
      });
      $(element).height(25);
      $(element).width(150);
      $(element).css("margin-left", 18);
    });

  */
</script>
