<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.1.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "rails.js" %>

<div id="oneBigGoalTitle"><%= @goal.title %></div>
<div id="oneBigGoalDescription"><%= @goal.description %></div><br>
  <div id="milestones">
    <% @goal.milestones.each do |milestone| %>
      <ul>
        <li>
          <div id="milestone_<%= milestone.id %>" class="portlet">
            <% if @userGoalRelationship != nil %>
              <% userGoalMilestone = @userGoalRelationship.hasMilestone?(milestone) %>
              <% if userGoalMilestone %>
                <%= form_for userGoalMilestone, :html => {:method => :delete} do |f| %>
                  <div><%= f.hidden_field :user_goal_relationship_id %></div>
                  <%= f.submit "Complete", :class=>"oneBigGoalMilestoneButtonComplete round" %>
                  <div class="oneBigGoalMilestone">
                    <div class="oneBigGoalMilestoneTitle"><%= milestone.title %></div>
                    <div class="oneBigGoalMilestoneDescription"><%= milestone.description %></div>
                  </div>
                <% end %>
              <% else %>
                <%= form_for (@userGoalRelationship.user_goal_milestone_relationships.build(:milestone_id => milestone.id)) do |f| %>
                  <div><%= f.hidden_field :milestone_id %></div>
                  <div><%= f.hidden_field :user_goal_relationship_id %></div>
                  <%= f.submit "Incomplete", :class=>"oneBigGoalMilestoneButtonIncomplete round" %>
                  <div class="oneBigGoalMilestone">
                   <div class="oneBigGoalMilestoneTitle"><%= milestone.title %></div>
                   <div class="oneBigGoalMilestoneDescription"><%= milestone.description %></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>

<% content_for :javascript do %>
  <% javascript_tag do %>  
    
           
    // Fade In when mouse is over
    $(".oneBigGoalMilestoneButtonComplete").live("mouseenter",
      
      function(evt){
        var entered = evt.target;
        $(entered).attr("value", "Incomplete");
        $(entered).show();
      }
    );

    // Fade out when mouse is out
    $(".oneBigGoalMilestoneButtonComplete").live("mouseleave",
      function(evt){
        var entered = evt.target;
        $(entered).attr("value", "Complete");
        $(entered).show();
      }
    );
    
    // Fade In when mouse is over
    $(".oneBigGoalMilestoneButtonIncomplete").live("mouseenter",
      function(evt){
        var entered = evt.target;
        $(entered).attr("value", "Complete");
        $(entered).show();
      }
    );

    // Fade out when mouse is out
    $(".oneBigGoalMilestoneButtonIncomplete").live("mouseleave",
      function(evt){
        var entered = evt.target;
        $(entered).attr("value", "Incomplete");
        $(entered).show();
      }
    );
    
  <% end %>
<% end %>