<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.1.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>

<div id="oneGoalBackground">
    <div class="menuBar">
      <ul class="goalmenulist">
        <% if @user.created?(@goal) %>
          <li>
            <%= link_to  "Edit Goal", edit_user_goal_path(@user.username, @goal.title) %>
          </li>       
          <li>
            <%= link_to "Delete Goal", user_goal_path(@user.username, @goal.title),  :method => :delete, :action => "destroy" %>
          </li>
        <% end %>
        <li>
          <% if @user.working?(@goal) %>
            <%= link_to "Quit Goal", user_goal_relationship_path(@user.user_goal_relationships.find_by_goal_id(@goal)),  :method => :delete, :action => "destroy" %>
          <% else %>
            <%= link_to "Start Goal", {:controller=>"user_goal_relationships", :action => "create", :goal_id=>@goal.id}, :method=>:post %>
          <% end %>
        </li>
      </ul>
  </div>

  <div id="oneBigGoalStickyNote">
    <%= render :partial => 'goals/goal', :object => @goal %>
  </div>

  <% if (!@userGoalRelationship.nil?) %>
    <%= form_for @userGoalRelationship.user_goal_comment_relationships.build(:user_goal_relationship_id => @userGoalRelationship.id, :user_id => @user.id),
                 :remote => true do |f| %>
      <%= f.hidden_field :user_goal_relationship_id %>
      <%= f.hidden_field :user_id %>
      <%= f.text_area :comment, :placeholder => "Write a comment..." %>
      <%= f.submit "Post" %>
    <% end %>
  <% end %>
  <div id="workingGoalComments">
    <%= render :partial => "workingGoalComments" %>
  </div>

</div>