<header>
  <%= link_to logo, root_path %>
  <div class="right">
    <%= form_for(:session) do |f| %>
    <table>
     <tr>
       <th><%= f.text_field :email, :placeholder => "Email" %></th>
       <th><%= f.password_field :password, :placeholder => "Password" %></th>
       <th><%= f.submit "Log in" %></th>
     </tr>
     <tr>
       <th></th>
       <th><%= link_to "Forgot password?", forgotpassword_path %></th>
       <th><%= link_to "Sign up", signup_path %></th>
     </tr>
    </table>
    <% end %>
  </div>
  <nav class="round">
  <ul>
  </ul>
  </nav>
</header>