<header>
  <div id="headerNav" class="container">
    <%= link_to logo, root_path, :id => "headerLink"%>
    <% if signed_in? %>
      <%= form_for :session, :method => :get do |f| %>
        <%= f.text_field :Search, :placeholder => "Find a goal", :class=>"field round", :id=>"headerSearchField" %>
      <% end %>
      <div id="headerUserMenu" class="right">
        <%= link_to "Sign out", signout_path, :method => :delete %>
      </div>
    <% else %>
      <div class="login right">
        <%= link_to "Login", signin_path %>
      </div>
    <% end %>
  </div>
</header>