<header>
  <div id="headerNav" class="container">
    <%= link_to logo, root_path, :id => "headerLogo"%>
    <% if signed_in? %>
      <div id="headerSearch">
        <%= form_for :session, :method => :get do |f| %>
          <%= f.text_field :Search, :placeholder => "Find a goal", :class=>"field", :id=>"headerSearchField" %>
          <%= link_to image_tag("search_button_grey.png", :id => "headerSearchButton") %>
        <% end %>
      </div>
      <div id="headerUserMenu">
        <%= link_to "Sign out", signout_path, :method => :delete %>
      </div>
    <% else %>
      <div class="login right">
        <%= link_to "Login", signin_path %>
      </div>
    <% end %>
  </div>
</header>