<header>
  <%= link_to logo, root_path %>
  
  <% if signed_in? %>
    <div class="right">
      <%= link_to "Sign out", signout_path, :method => :delete %>
    </div>
    <div class="search-bar">
      <%= form_for(:search, :url => searchs_path) do |f1| %>
        <div class="field">
          <%= f1.text_field :find, :placeholder => "Find your goal" %>
          <%= f1.submit "Find" %>
        </div>   
      <% end %>
    </div>
      
  <% else %>
    <div class="right">
    <%= form_for(:session, :url => sessions_path) do |f| %>
      <table>
        <tr>
          <th><%= f.text_field :email, :placeholder => "Email" %></th>
          <th><%= f.password_field :password, :placeholder => "Password" %></th>
          <th><%= f.submit "Log in" %></th>
        </tr>
        <tr>
          <th></th>
          <th><%= link_to "Forgot password?", forgotpassword_path %></th>
          <th><%= link_to "Sign up", signup_path %></th>
        </tr>
      </table>
    <% end %>
    </div>
  <% end %>
</header>